
/* ============ style de l entete a savoir le logo et la navigation secondaire =============== */
body > header {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  justify-content: space-between;
   
    background-color: #ff7fbf;
}

body > header > #logo {

    margin-left: 20px;

    height: auto;
    margin-top: 10px;
   
    width: 125px;
    


}
body > header > #logo> img {
    object-fit: cover;
    
}
/* deplacer la nav a droite */
body > header >nav{
   
         background-color: aliceblue;
    margin-right: 20px;

}

.menu-toggle {
   
     display:none;
    
    
}
body > header > nav .menu {

 display: block;

    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-top: 20px;
   
    list-style: none;
    align-items: center;
  
 
}

body > header > nav .menu li a {
    text-transform: uppercase;
      display: block;
    width: auto;

}


body > header > nav .menu li{
    margin-right: 20px;

}

body > header > nav .menu li a:hover{
  background-color: #7851c3;
   

}
 
